<div class="container-wrapper p-1 d-flex justify-content-center">
  <div class="announcement-card card p-4 justify-content-center">
    <h4 class="card-title text-center mb-3">{{ note.name }}</h4>
    <div class="card-body announcement-body">
      <p>{{ note.value }}</p>
    </div>
    <div class="button-group d-flex justify-content-between mt-3">
      <button class="btn btn-light border" [routerLink]="['/groups', groupId, 'notes']">← Back</button>
      <button class="btn btn-primary" [routerLink]="['/groups', groupId, 'notes']">💾 Save</button>
    </div>
  </div>
</div>
