/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';

.nav-item {
  background-color: #156082;
  color: white;
}

.bg-primary {
  background-color: #B1BED9 !important;
}
