/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

.bg-primary {
  background-color: #B1BED9 !important;
}

.bg-secondary {
  background-color: #156082 !important;
}

body {
  background-color: #B1BED9 !important;
}
