/server/.vs/
/server/WebApplication1/.vs/
/server/WebApplication1/bin/
/server/WebApplication1/obj/
/server/WebApplication1/obj/Debug/net8.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
/server/.vs/WebApplication1/v17/.suo
/server/WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfo.cs
/server/WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfoInputs.cache
/server/WebApplication1/obj/Release/net8.0/WebApplication1.csproj.AssemblyReference.cache
/server/WebApplication1/obj/project.assets.json
/server/WebApplication1/obj/Debug/net8.0/WebApplication1.assets.cache
/server/WebApplication1/obj/project.nuget.cache
/server/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
/server/WebApplication1/obj/WebApplication1.csproj.nuget.g.props
/server/WebApplication1/obj/WebApplication1.csproj.nuget.g.targets
/server/WebApplication1/obj/Release/net8.0/WebApplication1.AssemblyInfoInputs.cache
/server/WebApplication1/obj/Release/net8.0/WebApplication1.AssemblyInfo.cs
/server/WebApplication1/.vs/WebApplication1/v17/DocumentLayout.json
/server/WebApplication1/.vs/WebApplication1/v17/.wsuo
/server/WebApplication1/.vs/VSWorkspaceState.json
/server/WebApplication1/.vs/slnx.sqlite
/server/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
/server/WebApplication1/obj/Debug/net8.0/WebApplication1.pdb
/server/WebApplication1/bin/Debug/net8.0/WebApplication1.pdb
/server/WebApplication1/bin/Debug/net8.0/WebApplication1.deps.json
/server/WebApplication1/bin/Debug/net8.0/WebApplication1.dll
/server/WebApplication1/bin/Debug/net8.0/WebApplication1.exe
/server/.vs/WebApplication1/v17/DocumentLayout.json
/server/WebApplication1/bin/Debug/net8.0/WebApplication1.runtimeconfig.json
/server/WebApplication1/obj/Debug/net8.0/apphost.exe
/server/WebApplication1/obj/Debug/net8.0/WebApplication1.dll
/server/WebApplication1/obj/Debug/net8.0/WebApplication1.csproj.CoreCompileInputs.cache
/server/WebApplication1/obj/Debug/net8.0/WebApplication1.csproj.FileListAbsolute.txt
/server/WebApplication1/obj/Debug/net8.0/refint/WebApplication1.dll
/server/.vs/WebApplication1/v17/DocumentLayout.backup.json
/server/.vs/WebApplication1/v17/.futdcache.v2
/.idea/inspectionProfiles/Project_Default.xml
/server/WebApplication1/obj/Debug/net8.0/staticwebassets.build.json
/server/WebApplication1/obj/Debug/net8.0/staticwebassets/msbuild.build.WebApplication1.props
/.vs/groups/v17/.wsuo
/.vs/groups/v17/DocumentLayout.json
/server/WebApplication1/obj/Debug/net8.0/WebApplication1.MvcApplicationPartsAssemblyInfo.cs
