.dashboard-container {
  background-color: #b0bede;
  padding: 2rem;
}

.select-toggle {
  background-color: #156082;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1.5rem;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  color: white;

  &:hover {
    cursor: pointer ;
  }

}

.group-grid {
  max-width: 700px;
  margin-bottom: 2rem;

  .group-box {
    background-color: #7089c1;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    display: inline-block;
    min-width: 160px;
    text-align: left;
    font-size: 0.95rem;
  }
}

.add-button-container {
  display: flex;
  justify-content: center;
}

.add-button {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  background-color: #d2dbe5;
  color: black;
  border: 2px solid black;
  cursor: pointer;

  &:hover {
    background-color: #c0cde0;
  }
}
