<div class="dashboard-container d-flex flex-column align-items-center">

  <div class="select-toggle mb-4 gap-5">
    <div class="edit-button d-flex">Edit</div>
    <div class="select-button" style="opacity: 50%">Select</div>
  </div>

  <div class="group-grid row">
    <div class="col-auto group-card" *ngFor="let group of groups">
      <button class="group-box" [routerLink]="['/groups', group.id, 'todo']">
        <span>{{ group.name }}</span>
        <span class="ms-3">Members:{{ group.members }}</span>
      </button>
    </div>
  </div>

  <div class="add-button-container mt-5">
    <button class="add-button rounded-circle">+</button>
  </div>
</div>
