.container {
  max-width: 800px;
  background: #B1BED9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: none !important;
}
.search-bar {
  background: #156082;
  padding: 10px;
  border-radius: 8px;
}
.search-bar input {
  border-radius: 5px;
}
.task-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
