.profile-container {
  min-height: 100vh;
  background-color: #b0bede;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  font-family: 'Segoe UI', sans-serif;
}

.back-button {
  background-color: #ffffff;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 25px;

  &:hover {
    background-color: #D3D3D3;
  }
}

/* Card itself */
.profile-card {
  background-color: #627bb1;
  width: 1080px;
  height: 600px;
  border-radius: 16px;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}

.avatar-section {
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;

  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.6rem;
  }

  .change-icon {
    color: #001aff;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: #005aff;
    }
  }
}

.info-section {
  margin-left: 70px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.1rem;
  font-size: 1.3rem;

  .name, .email, .password {
    font-weight: 500;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;

  .btn {
    background-color: #d0d6e0;
    font-weight: 500;
    width: 300px;
    height: 80px;
    border-radius: 35px;
    font-size: 1.8rem;
    scale: 85%;

    &:hover {
      background-color: #d0d6e0c0;
    }
  }
}
