<div class="profile-container">
  <button class="back-button" [routerLink]="['/']">
    <i class="bi bi-arrow-left"><</i>
  </button>

  <div class="profile-card mx-auto">

    <div class="card-content">

      <div class="avatar-section">
        <img [src]="user.avatar" alt="Avatar" class="avatar mt-4">
        <a class="change-icon">Change icon</a>
      </div>

      <div class="info-section">
        <div class="name">{{ user.name }}</div>
        <div class="email">{{ user.email }}</div>
        <div class="password">********</div>
      </div>
    </div>

    <div class="btn-container" >
      <button class="btn" [routerLink]="['/profile-edit']">Change details</button>
    </div>
  </div>
</div>
