.schedule-container {
  background-color: #a6b8dc;
  padding: 2rem;

  .header {
    background-color: #155e7d;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    margin-bottom: 1rem;

    .date-nav {
      button {
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }

  .schedule-wrapper {
    width: 100%;
    display: flex;
  }

  .weekly-box {
    background-color: #6A82B4;
    border-radius: 10px;
    width: 100%;
    margin-top: 1rem;

  }

  .weekly-table {
    width: 100%;
    color: white;

    td {
      border: 1px solid white;
      height: 80px;
      padding: 0 10px;
      font-size: 1.2rem;
    }
  }

  .label-box {
    background-color: red;
    height: 60px;
    width: 70px;
    color: white;
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: 500;
  }


}
