<!-- weekly-schedule.component.html -->
<div class="schedule-container">
  <!-- Header -->
  <div class="header">
    <div class="date-nav mx-auto">
      <button (click)="changeWeek(-1)">&lt;</button>
      <span>{{ getWeekLabel() }}</span>
      <button (click)="changeWeek(1)">&gt;</button>
    </div>
    <app-schedule-sidebar></app-schedule-sidebar>
  </div>

  <div class="schedule-wrapper">
    <div class="weekly-box">
      <table class="weekly-table">
        <tr>
          <td style="width: 80px ">Monday</td>
          <td><div class="label-box">Name</div></td>
        </tr>
        <tr><td>Tuesday</td><td></td></tr>
        <tr><td>Wednesday</td><td></td></tr>
        <tr><td>Thursday</td><td></td></tr>
        <tr><td>Friday</td><td></td></tr>
        <tr><td>Saturday</td><td></td></tr>
        <tr><td>Sunday</td><td></td></tr>
      </table>
    </div>
  </div>


</div>
