<header class="p-3 mb-3 border-bottom bg-secondary">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['/group-manage']" class="nav-item px-2"><</a></li>
        <li><a [routerLink]="['/groups', groupId, 'todo']" [routerLinkActive]="['active']" class="nav-item px-2">Todo</a></li>
        <li><a [routerLink]="['/groups', groupId, 'schedule']" [routerLinkActive]="['active']" class="nav-item px-2">Schedule</a></li>
        <li><a [routerLink]="['/groups', groupId, 'notes']" [routerLinkActive]="['active']" class="nav-item px-2">Notes</a></li>
      </ul>

      <div class="mx-auto group-context justify-content-between">
        GROUP: {{ groupName }}
      </div>
    </div>
  </div>
</header>
