.active {
  color: black !important;
  background-color: white !important;
  font-weight: normal !important;
}

.nav-item {
  color: black;
  background-color: #B1BED9;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px !important;
  margin: 5px;
}

.nav {
  color: white;
  text-decoration: none;
}

.group-context {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
