# Ignorovat IDE soubory
**/.vs/
**/.idea/
**/.vscode/
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.wsuo
**/*.sqlite
**/DocumentLayout.json

# Ignorovat build výstupy
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/
**/*.pdb
**/*.mdb

# Ignorovat NuGet soubory
**/*.nupkg
**/project.lock.json
**/project.assets.json

# Ignorovat testovací výstupy
**/TestResults/

# Ignorovat systémové soubory
**/.DS_Store
**/Thumbs.db

# Ignorovat další dočasné nebo ladicí soubory
**/*.cache
**/*.log
**/*.dbmdl
**/*.pidb
**/*.editorconfig
**/*.AssemblyReference.cache
**/*AssemblyInfoInputs.cache
**/*assets.cache
**/*.GeneratedMSBuildEditorConfig.editorconfig

# Specifické soubory v tvém projektu
**/WebApplication1.csproj.AssemblyReference.cache
**/WebApplication1.AssemblyInfoInputs.cache
**/WebApplication1.assets.cache