<button (click)="toggleSidebar()" class="btn btn-primary">+ Add new</button>

<div class="sidebar bg-secondary" [class.open]="isOpen">
  <button class="close-btn" (click)="toggleSidebar()">×</button>
  <form>

    <input type="color" class="bg-secondary color-picker" />

    <label>Název úkolu</label>
    <input type="text" placeholder="Např. Dokončit projekt" />

    <label>Priorita</label>
    <select class="bg-secondary border-0 text-white priority-select">
      <option *ngFor="let entry of priorities" [value]="entry[0]">
        {{ entry[1] }}
      </option>
    </select>

    <label>Popis</label>
    <textarea placeholder="Podrobnosti úkolu..."></textarea>

    <label>Připomenutí</label>
    <input type="date" />

    <label>Termín</label>
    <input type="date" />

    <button type="submit" class="bg-white text-black">Uložit</button>
  </form>
</div>

<div class="overlay" *ngIf="isOpen" (click)="toggleSidebar()"></div>
