.task-card {
  background: #B1BED9;
  border-radius: 8px;
  padding: 1rem;
  color: white;
}

.task-header {
  display: flex;
  align-items: center;
}
.task-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.yellow { background: yellow; }
.green { background: green; }
.badge {
  margin-right: 5px;
}
.task-info span {
  margin-right: 10px;
  cursor: pointer;
}
.container {
  max-width: 800px;
  background: #B1BED9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task {
  margin: 5px 0;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}
